#signin {
	background-color: lightgray	;
	width: 500px;
	color: black;
	height: 450px;
}
#signin a {
	color: blue;
}
#main {
	
	width: 400px;
	padding-left: 50px;
	padding-right: 50px;
}